<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-6 mt-4">
      <div class="p-3 bg-dark text-white">Total Alerts Count {{totalCount}}</div>
      <div>
        <div class="p-3 mb-2 text-dark grey" id="filterDv">
          <span>Filters</span>
          <a class="float-right" *ngIf="isDataFiltered" href="javascript:void(0)" (click)="resetData()">Reset</a>
        </div>
      </div>
      <div class="border border-dark mb-2">
        <div class="p-3 mb-2 bg-white text-dark">
          <div class="border-bottom">
            <strong>Severity</strong>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <table cellspacing="0" cellpadding="0" class="col-md-12">
                <tr *ngFor="let data of severityBlockData">
                  <td>
                    <a>{{data['key']}}</a>
                  </td>
                  <td class="text-right">
                    <a class="Severity" href="javascript:void(0)" (click)="filterData($event, data['key'])">
                      {{data['count']}}
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="border border-dark mb-2">
        <div class="p-3 mb-2 bg-white text-dark">
          <div class="border-bottom">
            <strong>Client IP</strong>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <table cellspacing="0" cellpadding="0" class="col-md-12">
                <tr *ngFor="let data of clientIPBlockData">
                  <td>
                    <a>{{data['key']}}</a>
                  </td>
                  <td class="text-right">
                    <a class="ClientIP" href="javascript:void(0)" (click)="filterData($event, data['key'])">
                      {{data['count']}}
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="border border-dark mb-2">
        <div class="p-3 mb-2 bg-white text-dark">
          <div class="border-bottom">
            <strong>Protocol</strong>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <table cellspacing="0" cellpadding="0" class="col-md-12">
                <tr *ngFor="let data of protocolBlockData">
                  <td>
                    <a>{{data['key']}}</a>
                  </td>
                  <td class="text-right">
                    <a class="Protocol" href="javascript:void(0)" (click)="filterData($event, data['key'])">{{data['count']}}</a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="border border-dark mb-2">
        <div class="p-3 mb-2 bg-white text-dark">
          <div class="border-bottom">
            <strong>Client Country</strong>
          </div>
          <div class="row">
            <div class="col-md-12 mt-3">
              <table cellspacing="0" cellpadding="0" class="col-md-12">
                <tr *ngFor="let data of countryBlockData">
                  <td>
                    <a>{{data['key']}}</a>
                  </td>
                  <td class="text-right">
                    <a class="ClientCountry" href="javascript:void(0)" (click)="filterData($event, data['key'])">
                      {{data['count']}}
                    </a>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>